 @import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html {
   font-size: 62.5%;
 }

 body {
   font-family: 'League Spartan', sans-serif;
   font-weight: 700;
   background: #070724;
   background-image: url("/assets/background-stars.svg");
 }